---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


/*----- J-LINK ADD START -----*/

/*----- COMMON -----*/

@media screen and (min-width: 120em) {/*1920px以上*/
  #header .row {
    margin-top: 0px !important;
  }
  #header .h-logo {
    margin-left: 0 !important;
    width: 440px !important;
  }
  #header .row nav ul.header_left li {
    background-color: $color_green;
  }
      
  #header .row nav ul.header_left li:hover {
    border-bottom: solid 4px #F2F2F2;
    background-color: $color_green;
  }
  #header .row .columns nav ul.header_right {
    margin-top: -48px !important;
    margin-right: -70px !important;
    width: 450px !important;
  }
  #header .row .columns nav ul.header_right li {
    margin-top: 15px !important;
    margin-right: -10px !important;
    padding: 0 !important;
    list-style: none !important;
    float: left !important;
    height: 10px !important;
    position: relative !important;
  }
  #header .row .columns nav ul.header_right li.hr1 {
    width: 110px !important;
  }
  #header .row .columns nav ul.header_right li.hr2 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr3 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr4 {
    width: 180px !important;
  }
  #header .row .columns nav ul.header_right li.hr5 {
    width: 220px !important;
  }
  #header .row .columns nav ul.header_right li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 !important;
    font-size: 75% !important;
  }
  #header .row .columns nav ul.header_right a i {
    font-size: 165% !important;
  }
  #header .row .columns nav ul.header_right li a:hover {
    color: $color_green;
  }

  #footer {
   text-align: center;
   height: 280px !important;
   background-color: $color_white;
  }
  
  #footer p{
    margin: 0 !important;
    padding: 0 !important;
  }

  #footer .sns{
    background-color: #999999;
    height: 68px !important;
  }
  
   #footer .sns li{
    margin-left: 15px;
  }

  #footer .sns i {
    font-size: 40px;
    color: $color_white;
  }

  #footer .icon i:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
  
  #footer .nav li{
    margin: 10px 0 0 15px;
  }
  
  #footer .nav li a:hover {
    text-decoration: underline;
    text-decoration-color: $color_black;
  }
  
  #footer .gsc{
    margin:15px 0 10px 0;
  }
  
  #footer .copyright{
    font-size: 80% !important;
  }
}
  
@media screen and (max-width: 120em) {/*1920px以下*/
  #header .row {
    margin-top: 0px !important;
  }
  #header .h-logo {
    margin-left: 0 !important;
    width: 440px !important;
  }
  #header .row nav ul.header_left li {
    background-color: $color_green;
  }
      
  #header .row nav ul.header_left li:hover {
    border-bottom: solid 4px #F2F2F2;
    background-color: #007d77;
  }
  #header .row .columns nav ul.header_right {
    margin-top: -48px !important;
    margin-right: -70px !important;
    width: 450px !important;
  }
  #header .row .columns nav ul.header_right li {
    margin-top: 15px !important;
    margin-right: -10px !important;
    padding: 0 !important;
    list-style: none !important;
    float: left !important;
    height: 10px !important;
    position: relative !important;
  }
  #header .row .columns nav ul.header_right li.hr1 {
    width: 110px !important;
  }
  #header .row .columns nav ul.header_right li.hr2 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr3 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr4 {
    width: 180px !important;
  }
  #header .row .columns nav ul.header_right li.hr5 {
    width: 220px !important;
  }
  #header .row .columns nav ul.header_right li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 !important;
    font-size: 75% !important;
  }
  #header .row .columns nav ul.header_right a i {
    font-size: 165% !important;
  }
  #header .row .columns nav ul.header_right li a:hover {
    color: $color_green;
  }

  #footer {
   text-align: center;
   height: 280px !important;
   background-color: $color_white;
  }
  
  #footer p{
    margin: 0 !important;
    padding: 0 !important;
  }

  #footer .sns{
    background-color: #999999;
    height: 68px !important;
  }
  
   #footer .sns li{
    margin-left: 15px;
  }

  #footer .sns i {
    font-size: 40px;
    color: $color_white;
  }

  #footer .icon i:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
  
  #footer .nav li{
    margin: 10px 0 0 15px;
  }
  
  #footer .nav li a:hover {
    text-decoration: underline;
    text-decoration-color: $color_black;
  }
  
  #footer .gsc{
    margin:15px 0 10px 0;
  }
  
  #footer .copyright{
    font-size: 80% !important;
  }
}

@media screen and (max-width: 64em) {/*1024px以下*/

  #header .row {
    margin-top: 0 !important;
  }
  #header .row nav {
    position: relative !important;
  }
  #header .row nav ul.header_right {
    position: absolute !important;
    right: 8px !important;
    top: -95px !important;
  }
  
  #header .row .columns nav ul.header_right {
   margin-top: 30px !important;
  }
  
  #footer {
   height: 200px !important;
   background-color: $color_white;
  }
  
}

@media screen and (max-width: 57em) {/*912px以下*/
  #header .row nav {
    position: static !important;
  }
  #header .row nav ul.header_right {
    position: static !important;
    margin-top: 30px !important;
  }
    #footer {
   height: 350px !important;
   background-color: $color_white;
  }
}

@media screen and (max-width: 51em) {/*816px以下*/
  #header .h-logo {
    margin: 0 auto !important;
    width: 70vw !important;
  }
   #footer {
   height: 350px !important;
   background-color: $color_white;
  }
}


/*----- TOPPAGE -----*/

@media screen and (max-width: 120em) {/*1920px以下*/

  /*----- FONT -----*/

  .topic .text a h2:before {
    content: " ";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    background-image: url(./images/link_arrow.png) ;
    background-position: right 1.5px;
    background-size: contain;
    vertical-align: 0px;
  }

  ul.list-pannel li a:hover {
    opacity: 0.9;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  .row .columns .topic a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  ul.list-pannel li a .text p strong {
    line-height: 10px !important;
  }
  
  .facebook, ul.icon {
    margin-left: 10px !important;
  }

  ul.share {
    display: none !important;
  }
}

  #aside ul.list-news a {
    padding: 0 8px 8px 8px !important;
  }
  
  #aside ul.list-news li a p {
    line-height: 1.2em !important;
    font-size: 95% !important;
  }
  
  #aside ul.list-news li{
    border-top: 1px solid #d8d8d8 !important;
  }
  #aside ul.list-news li a p:hover {
    text-decoration: underline;
  }
  
/*----- CONTENTS(第2階層以下全般) -----*/

/*----- FONT -----*/

#main .row .columns ul li a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}


/*----- TABLE -----*/
#main table tbody tr th {
  border-bottom: solid 1px #DDDDDD !important;
}

#main table tbody tr td {
  border-bottom: solid 1px #DDDDDD !important;
}


/*----- SIDEMENU -----*/
#aside .list-menu li a{
   font-size: 95% !important;
   color: #555 !important;
}

#aside .list-menu li a:hover {
  text-decoration: underline !important;
}

#aside .list-menu li {
   border-top: solid 1px #d8d8d8 !important;
}

#aside .list-menu li:nth-child(1) {
  border-top: solid 4px #00b5ad !important;
  background-color: #f2f2f2 !important;
}

#aside .list-menu li:nth-child(1) a{
   color: #555 !important;
}

#aside .list-menu li:nth-child(1) a:before {
  background-image: none !important;
  margin-left: -1em !important;
}

#aside .list-menu li:nth-child(n+2) a {
  margin-left: 0.5em !important;
}

#aside .introduction li.campus,
#aside .curriculum li.campus,
#aside .teacher li.campus,
#aside .studyabroad li.campus,
#aside .career li.campus,
#aside .exam li.campus,
#aside .portal4fs li.campus,
#aside .general li.campus {
  display: none !important;
}

/*----- CONTENTS(第2階層のみ) -----*/

/*----- LIST-LINKS -----*/

#main .content-section .row .columns ul.list-links li a:hover {
  text-decoration: underline !important;
}

#main .columns p a:hover {
  text-decoration: underline !important; }

/*----- TEACHER/TEACHERS -----*/

#main ul.list-teacher li .text ul li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}

/*----- CONTENTS(第3階層以降) -----*/

/*----- INTRODUCTION/CURRICULUM -----*/
#main #collabo h3  {
  font-size: 130% !important;
  line-height: 5px !important;
  border-left: 5px solid $color_green !important;
  padding: .75em;
}

.content-section .row .columns ul.list-links li {
  height: 5em !important;
}

/*----- TEACHER/PUBLICATIONS -----*/
#main ul.oneline li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- CAMPUS -----*/
#main ul.campus li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- STUDYABROAD/REPORT -----*/
#main ul.reports li a[target*="_blank"]:after {
  content: url("./images/icon_pdf.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- STUDYABROAD/GUIDELINE -----*/
#main ul.guideline li a[target*="_blank"]:after {
  content: url("./images/icon_pdf.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- STUDYABROAD/FAQ -----*/

#main ul.studyabroad_faq li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- PORTAL4FS -----*/
#main ul.portal4fs li a[class*="doc"]:after {
  content: url("./images/icon_doc.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}

#main ul.portal4fs li a[class*="xls"]:after {
  content: url("./images/icon_xls.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}

#main ul.portal4fs li a[class*="pop"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- TEACHER/INTERVIEW -----*/
#main .row header.content-header h1  {
  line-height: 1.6em !important;
}


/*----- STUDYABROAD/STUDYABROAD -----*/
#main #agreement h3 {
  font-size: 130% !important;
  border-left: 5px solid $color_green !important;
  padding: .75em; }

#main #agreement ul.list-grid li p strong a {
  text-decoration: none !important; }

#main #agreement ul.list-grid li p strong a:before {
  content: ' ' !important;
  display: inline-block !important;
  height: 20px !important;
  width: 20px !important;
  margin-right: 5px !important;
  background-image: url(./images/link_arrow.png) !important;
  background-size: contain !important;
  vertical-align: -4px !important; }

#main #agreement ul.list-grid li a.thailand:after {
  content: url("https://user-images.githubusercontent.com/416977/41012001-8555cff0-697a-11e8-8384-8d65880c478c.png");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em; }

#main #agreement ul.list-grid li a.malaysia:after {
  content: url("https://user-images.githubusercontent.com/416977/41011993-80df4334-697a-11e8-8be1-ace55199629d.png");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em; }

#main #agreement ul.list-grid li p strong a:hover {
  text-decoration: underline !important; }

/*----- GENERAL/SITEMAP -----*/
ul.list-sitemap li a.pop:after,
ul.list-sitemap li ul li a.pop:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/* ========================== *\
    $COMMON TEMPORARY
\* ========================== */


.imgbounce {
    overflow: hidden;
}

.imgbounce img {
    transition: 0.2s;
}

.imgbounce img:hover {
    -moz: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

@media screen and (max-width: 120em) {
    /*1920px以下*/

.link-summary a {
    background-color: $color_green;
    border-radius: 2px;
    color: $color_white;
    float: right;
    font-size: 80%;
    margin: 0 0 20px 0;
    padding: 0 15px;
}
}

@media screen and (max-width: 51em) {
    /*816px以下*/
    
.link-summary a {
    background-color: $color_green;
    border-radius: 2px;
    color: $color_white;
    font-size: 100%;
    margin: 15px 0;
    padding: 15px;
    text-align:center;
    width: 100%;
}
}

/* ========================== *\
    $TOPPAGE TEMPORARY
\* ========================== */
/*グローバルナビ*/

#header .gmenu {
    background-color: $color_green;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

#header .gmenu a {
    color: $color_white;
    font-size: 96% !important;
}

/*メインビジュアル スライダー*/

.slider {
    height: auto;
    max-width: 980px;
    margin: 0 auto;
}

.slide-arrow {
    margin: -15px 0 0 0;
    position: absolute;
    top: 50%;
}

.prev-arrow {
    border-left: 0 solid transparent;
    border-right: 10px solid #DDD;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    left: -30px;
    width: 0;
}

.next-arrow {
    border-right: 0 solid transparent;
    border-left: 10px solid #DDD;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    right: -30px;
    width: 0;
}

/*トップページ*/

/*学部ニュース*/

.top-news-area > .columns {
    padding: 0 22px 0 5px !important;
}

h2.top-news {
    color: $color_green;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 5px;
}

.date {
    font-weight: bold !important;
}

/*トピックス*/

.top-topix-area > .columns {
    padding: 0px !important;
}

.top-topix {
    margin-top: 5px
}

.top-topix h3 {
    color: $color_black;
    font-weight: bold;
    font-size: 95% !important;
    padding: 13px 5px 10px 5px;
}

.top-topix p {
    font-size: 80% !important;
    line-height: 150% !important;
    padding: 0px 5px 8px 5px;
}

.top-topix a {
    color: $color_green;
}

.top-topix ul li {
    margin: 0px !important;
    padding: 0 1px 0 1px !important;
}


/*新着情報　ボックス型*/

h2.topix-title {
    color: $color_green;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: -10px;
}

.topixnews-box {
    /*トップページ新着情報のBOXライン*/
    border: solid 3px $color_green;
    margin-top: -1px;
}

.topixnews-box p {
    /*トップページ新着情報のBOXライン*/
    height: 45px;
}

h2.topixnews-title {
    color: $color_green;
    font-weight: bold;
    font-size: 115%;
    margin-bottom: -10px;
}

h2.topixnews-title2 {
    color: $color_green;
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 5px;
}

/* ========================== *\
    $CONTENTS TEMPORARY
\* ========================== */


/*カテゴリータイトル*/

#category .row {
    margin-top: 0px;
}

.categorytitle {
    background-image: url(./images/v1/2019/categorytitle.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle2 {
    background-image: url(./images/v1/2019/categorytitle2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}
    
.categorytitle3 {
    background-image: url(./images/v1/2019/categorytitle3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}
    
.categorytitle4 {
    background-image: url(./images/v1/2019/categorytitle4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}
    
.categorytitle5 {
    background-image: url(./images/v1/2019/categorytitle5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}
    
.categorytitle6 {
    background-image: url(./images/v1/2019/categorytitle6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle7 {
    background-image: url(./images/v1/2019/categorytitle7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle_inner {
    padding: 70px 0 0 20px;
}

.categorytitle_inner h2 {
    color: $color_white;
    font-size: 160%;
    text-shadow: 
    black 1px 1px 10px, black -1px 1px 10px,
    black 1px -1px 10px, black -1px -1px 10px;
}


/*パンくずリスト*/

.list_breadcrumb {
    padding-left: 20px;
}

.list_breadcrumb li {
    background: transparent url("./images/breadcrumb_arrow.gif") 5px center no-repeat;
    color: #444;
    float: left;
    font-size: 90%;
    margin: 8px 0;
    padding: 0 10px 0 25px;
}

.list_breadcrumb li.first {
    background-image: none;
    padding: 0;
}

.list_breadcrumb li a {
    color: #444;
}

.list_breadcrumb li a:hover {
    text-decoration: underline;
    text-decoration-color: $color_black;
}


/*ページタイトル　フォント*/

.content-header h1 {
    border-top: solid 4px #ddd;
    padding: 5px 0 0 0;
}

/*ページリード文　フォント*/
#main .columns p.lead {
    font-size: 150% !important;
}

.list-links a {
    color: $color_green !important;
}


/*コンテンツトップページ　レイアウト*/

/*コンテンツページ　トピックス リンク*/

.content-topix p {
    color: $color_green;
    font-weight: bold;
    background-image: url(./images/link_arrow.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 0 0 0 30px;
}

/*コンテンツページ　新着情報　ボックス型*/
.content-news {
    border: solid 3px $color_green;
    margin-top: 3px;
}

.content-news p {
    font-size: 80%;
    height: 45px;
    padding: 5px;
    line-height: 150%;
}

/*PC以外トップページコンテンツの並び順指定*/

@media screen and (max-width: 40em) {

    /*640px以下*/
    .row {
        display: flex;
        flex-direction: column;
    }

    .row .item1 {
        order: 2;
    }

    .row .item2 {
        order: 1;
    }
}

/*プリント用コンテンツの並び順,非表示*/
@media print {

    html,
    body {
        overflow: visible;
        zoom: 0.6;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .row .item1 {
        order: 2;
    }

    .row .item2 {
        order: 1;
    }

    .m-hamburger_content {
        display: none;
    }

    .site-nav {
        display: none;
    }

    .trigger {
        display: none;
    }

    /* Images */
    img {
        float: left;
        margin: 1em 1.5em 1.5em 0;
        max-width: 100% !important;
    }

    a img {
        border: none;
    }

    @-moz-document url-prefix() {

        /*Firefox 印刷用*/
        .row {
            display: block;
        }
    }
}

.active {
    color: red !important;
}
    
/*--理事長インタビュー2019--*/
.interview-faq {
    font-family: 'メイリオ', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
    font-weight: bold !important;
    font-size: 110% !important;
    color: $color_black !important;
}


@media screen and (max-width: 120em) {
    /*1920px以下*/

    .hook-card {
        background: #fffadd;
        font-size: 80% !important;
        line-height: 1.5rem;
        padding: 25px;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .hook-card strong {
        font-size: 125% !important;
        padding: 0 0 8px 0;
    }

    .hook-image {
        width: 40%;
        padding: 0 0 0 15px;
        float: right;
    } 
    .hook-image2 {
        padding: 0 0 20px 0;
    }
    
}

@media screen and (max-width: 51em) {
    /*816px以下*/

    .hook-card {
        background: #fffadd;
        font-size: 80% !important;
        padding: 15px;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .hook-image {
        width: 100%;
        padding: 15px;
    }
}

/*--学部ニュースアーカイブ--*/

.paginator{
   padding: 25px 0 0 0;
   text-align: center;
  }
  
.paginator a {
    color: $color_green;
}

.paginator-box{
    border: solid 1px #999;
    border-radius: 2px;
    padding: 3px 15px;
  }
  
.current{
    background: $color_green;
    color: $color_white;
  }
  
.content-section h2 {
    position: relative;
    border-top: 4px solid #ccc;
}

.content-section  h2::after {
    position: absolute;
    top: -4px;
    left: 0;
    /*z-index: 2;*/
    content: '';
    width: 200px;
    height: 4px;
    background-color: #00b5ad;
}
    
.content-section h2 a:hover {
    text-decoration: underline !important;
    opacity: 0.5;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
    
.list-sitemap a:hover {
    text-decoration: underline !important;
  }
    
.list-sitemap {
    padding: 0 0 0 25px;
  }

/*--卒業生インタビュー--*/

.box1 {
    padding: 0 30px 8px 30px;
    margin: 0 0 15px 0 !important;
    font-size: 115% !important;
    font-weight: bold;
    border: solid 1px #00b5ad;
}

.box2 {
    padding: 0.3em;
    background: #f2f2f2;/*背景色*/;
}

.s-lead{
    margin: 0 0 30px 0;
  }
  
.career-interview{
    margin: -5px 0 0 0 !important;
  }
    
    
/*--テキスト折り返し調整ー--*/ 

.blocktext{ 
    display: inline-block; 
}

/*ハンバーガーメニュー スクロールー*/

@media screen and (max-width: 40em) { /*640px以下*/

    .m-hamburger_content{
        overflow-y: scroll;
        height:100%;
        -webkit-overflow-scrolling: touch;
    }
}

/*--学部留学 マンスリーレポートー--*/
    
.interview-report {
    font-weight: bold !important;
    font-size: 100% !important;
    color: $color_black !important;
    padding: 0 0 15px 0;
}

.interview-report2 {
    font-size: 100% !important;
    color: $color_black !important;
    padding: 15px 0 15px 0;
}
    
.interview-caption {
    padding-top: 30px;
}

.table-report{
  width:100%;
  word-wrap : break-word;
}

.table-report tbody tr th {
  font-size: 85% !important;
  text-align: center;
  padding: 5px !important;
  border: solid 1px #DDDDDD !important;
}

.table-report tbody tr td {
  font-size: 85% !important;
  padding: 5px !important;
  border: solid 1px #DDDDDD !important;
}

.table-report2{
  width: 100%;
  word-wrap : break-word;
}

.table-report2 tbody tr th {
  font-size: 80% !important;
  text-align: center;
  padding: 3px !important;
  border: solid 1px #DDDDDD !important;
}

.table-report2 tbody tr td {
  font-size: 80% !important;
  padding: 3px !important;
  border: solid 1px #DDDDDD !important;
}

.time{
  text-align: center;
  font-weight: bold;
  background-color: #dafaf2 !important;
  color: #444 !important;
}

.day{
  background-color: #f6f6f6 !important;
}


@media screen and (min-width: 51em) {/*816px以上*/
.img-report01{
  width: 480px;
}
}

