---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/*----- J-LINK ADD START -----*/

/*----- COMMON -----*/
@media screen and (max-width: 120em) {
  #header .row {
    margin-top: -30px !important;
  }
  #header .h-logo {
    margin-left: 0 !important;
    width: 460px !important;
  }
  #header .row nav ul.header_left li:hover {
    border-bottom: solid 4px #B6D9CF;
    background-color: #F2F2F2;
  }
  #header .row .columns nav ul.header_right {
    margin-top: 23px !important;
    margin-right: -70px !important;
    width: 450px !important;
  }
  #header .row .columns nav ul.header_right li {
    margin-right: -10px !important;
    margin-top: 20px !important;
    padding: 0 !important;
    list-style: none !important;
    float: left !important;
    height: 10px !important;
    position: relative !important;
  }
  #header .row .columns nav ul.header_right li.hr1 {
    width: 110px !important;
  }
  #header .row .columns nav ul.header_right li.hr2 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr3 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr4 {
    width: 180px !important;
  }
  #header .row .columns nav ul.header_right li.hr5 {
    width: 220px !important;
  }
  #header .row .columns nav ul.header_right li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 75% !important;
  }
  #header .row .columns nav ul.header_right a i {
    font-size: 165% !important;
  }
  #header .row .columns nav ul.header_right li a:hover {
    color: #48A186;
  }

  #footer {
    background-color: #888888 !important;
    height: 280px !important;
  }

  #footer .earth {
    display: none !important;
  }

  #footer .row .columns p, #footer .row .columns a {
    color: #FFF !important;
  }

  #footer .row .columns ul.icon {
    text-align: center !important;
    width: 100% !important;
    margin: -10px 0 -25px 0 !important;
  }

  #footer .row .columns ul.icon li {
    display: inline !important;
  }

  #footer .row .columns ul.icon li i {
    font-size: 40px !important;
    color: #FFFFFF;
  }

  #footer .row .columns ul.icon li i:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  #footer .row .columns ul a:hover {
    text-decoration: underline;
  }

  #footer .ftr_cp {
    border-top: solid 1px #A0A0A0 !important;
    box-shadow: 0px -1px 0px #6D6D6D;
    text-align: center !important;
    padding-top: 9px !important;
    font-size: 90% !important;
    color: #FFF !important;
    width: 100vw !important;
  }

  #footer .ftr_cp a {
    color: #FFF !important;
  }
}

@media screen and (max-width: 64em) {

  #header .row {
    margin-top: 0 !important;
  }
  #header .row nav {
    position: relative !important;
  }
  #header .row nav ul.header_right {
    position: absolute !important;
    right: 8px !important;
    top: -95px !important;
  }
  #header .row nav ul.header_left {
    margin-top: 21px !important;
  }
  #header .row nav ul.header_left {
    margin-bottom: -21px !important;
  }
  #footer {
    height: 300px !important;
  }
}

@media screen and (max-width: 57em) {
  #header .row nav {
    position: static !important;
  }
  #header .row nav ul.header_right {
    position: static !important;
  }
}

@media screen and (max-width: 51em) {
  #header .h-logo {
    margin: 0 auto !important;
    width: 70vw !important;
  }
  #footer {
    height: 350px !important;
  }
}


/*
@media all and (-ms-high-contrast:none){
  #header .row .columns nav ul.header_right {
    margin-top: 23px !important;
    margin-right: -70px !important;
    width: 450px !important;
  }
  #header .row .columns nav ul.header_right li {
    margin-right: -10px !important;
    margin-top: 20px !important;
    padding: 0 !important;
    list-style: none !important;
    float: left !important;
    height: 10px !important;
    position: relative !important;
    width: 450px !important;
  }
  #header .row .columns nav ul.header_right li.hr1 {
    width: 110px !important;
  }
  #header .row .columns nav ul.header_right li.hr2 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr3 {
    width: 130px !important;
  }
  #header .row .columns nav ul.header_right li.hr4 {
    width: 180px !important;
  }
  #header .row .columns nav ul.header_right li.hr5 {
    width: 210px !important;
  }
  #header .row .columns nav ul.header_right li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 75% !important;
  }
  #header .row .columns nav ul.header_right a i {
    font-size: 165% !important;
  }
  #header .row .columns nav ul.header_right li a:hover {
    color: #48A186;
  }

}
*/


/*----- TOPPAGE -----*/

@media screen and (max-width: 120em) {

  /*----- FONT -----*/
  h2, p.description, ul.list-news li a, ul.list-news li a span, ul.list-news li a p {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
  }

  .row .columns .topic .text p.tagline {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-size: 1rem !important;
    color: #48A186;
  }

  .topic .text a h2 {
    line-height: 1.6em;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
    font-weight: normal;
    font-size: 1.75625rem;
    margin-bottom: 0.5795525rem;
    padding-top: 0.4204475rem;
    color: #4A4A4A;
  }

  .topic .text a p.description {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
  }

  .topic .image {
    border-top: solid 4px #48A186;
  }

  .topic .image a {
    width: 100% !important;
  }

  .topic .text a h2:before {
    content: " ";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    background-image: url(./images/link_arrow.png) ;
    background-position: right 1.5px;
    background-size: contain;
    vertical-align: 0px;
  }

  ul.list-pannel li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }


  .s-cover {
    margin-bottom: 2em;
  }

  .s-cover .content-section .row {
    margin-bottom: 1em;
  }

  .s-cover .content-section .row .columns {
    margin-top: -70px !important;
    margin-left: 47px !important;
  }

  .s-cover .content-section .row .columns p {
  }

  @media all and (-ms-high-contrast:none){
    .s-cover .content-section .row .columns p span {
      padding: 20px 10px 5px 10px !important;
    }
  }
  .s-cover .content-section .catch {
    text-align: center !important;
  }

  .s-cover .content-section .catch p {
    font-size: 16px !important;
    color: #FFF !important;
    text-shadow: 2px  2px 3px #4d4d4d, -2px  2px 3px #4d4d4d, 2px -2px 3px #4d4d4d, -2px -2px 3px #4d4d4d;
    width: 100% !important;
    line-height: 1.5em !important;
  }

  /*
  .row .columns .topic a .image img {
    margin-left: 20px !important;
    width: 100% !important;
  }
  */

  .row .columns .topic a .text {
    margin-left: -33px !important;
    width: 110% !important;
  }

  .row .columns .topic a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  ul.list-pannel li a .text p strong {
    line-height: 10px !important;
  }

  ul.list-news li  {
    margin-top: -20px !important;
  }

  #aside ul.list-news li a p:hover {
    text-decoration: underline;
    text-decoration-color: #4A4A4A;
  }

  #aside ul.list-news li a span.date {
    display: inline !important;
    margin-left: -5px !important;
  }
  #aside ul.list-news li a p {
    margin-top: -10px !important;
    line-height: 1.5em !important;
  }

  .facebook, ul.icon {
    margin-left: 10px !important;
  }

  ul.share {
    margin-left: 10px !important;
  }

  ul.share li i:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  ul.share li i.-facebook {
    /*display: none !important;*/
  }

  ul.share li i.-twitter {
    /*display: none !important;*/
  }

  ul.share li i.-facebook {
    color: #4267B2;
  }
}

@media screen and (max-width: 64em) {
}

@media screen and (max-width: 51em) {
  .s-cover .content-section .row .columns {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 40em) {
  .s-cover .content-section .catch {
    text-align: left !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  .s-cover .content-section .catch p br {
    display: none;
  }
}


/*----- CONTENTS(第2階層以下全般) -----*/

/*----- FONT -----*/
#main .row .columns #content .content-header .row .columns p.lead {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
  font-size: 125% !important;
  margin-bottom: -30px !important;
  color: #419178 !important;
}

#main .row .columns #content .content-section .row .columns p,
#main table tbody tr th,
#main table tbody tr td {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
}

#main .row .columns ul li a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}


/*----- TABLE -----*/
#main table tbody tr th {
  border-bottom: solid 1px #DDDDDD !important;
}

#main table tbody tr td {
  border-bottom: solid 1px #DDDDDD !important;
}


/*----- SIDEMENU -----*/
#aside .list-menu li:nth-child(1) {
  background-color: #F9FCFB !important;
}

#aside .list-menu li:nth-child(1) a:before {
  background-image: none !important;
  margin-left: -1em !important;
}

#aside .list-menu li:nth-child(n+2) a {
  margin-left: 1em !important;
}

#aside .list-menu li a:hover {
  text-decoration: underline !important;
}

#aside .introduction li.campus,
#aside .teacher li.campus,
#aside .studyabroad li.campus,
#aside .career li.campus,
#aside .exam li.campus,
#aside .portal4fs li.campus,
#aside .general li.campus {
  display: none !important;
}


/*----- CONTENTS(第2階層のみ) -----*/

/*----- LIST-LINKS -----*/
#main .content-section .row .columns ul.list-links li a:hover {
  text-decoration: underline !important;
}


/*----- INTRODUCTION/POLICY -----*/
#main .row .columns #content .content-section .row .columns ol.list-order {
  margin: 15px 0 15px 15px !important;
}

#main .row .columns #content .content-section .row .columns ol.list-order li {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
}


/*----- TEACHER/TEACHERS -----*/
#main .row .columns #content .content-section .row .columns p {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
}

#main .row .columns #content .content-section .row .columns ul li .text p span {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
}

#main .row .columns #content .content-section .row .columns ul li .text ul li a {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
}

#main ul.list-teacher li .text ul li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- CONTENTS(第3階層以降) -----*/

/*----- INTRODUCTION/CURRICULUM -----*/
#main #collabo h3  {
  font-size: 130% !important;
  line-height: 5px !important;
  border-left: 5px solid #48A186 !important;
  padding: .75em;
}


/*----- TEACHER/PUBLICATIONS -----*/
#main ul.oneline li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- CAMPUS -----*/
#main ul.campus li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- STUDYABROAD/REPORT -----*/
#main ul.reports li a[target*="_blank"]:after {
  content: url("./images/icon_pdf.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- STUDYABROAD/GUIDELINE -----*/
#main ul.guideline li a[target*="_blank"]:after {
  content: url("./images/icon_pdf.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- STUDYABROAD/FAQ -----*/
#main ul.studyabroad_faq li, #main ul.studyabroad_faq li a {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',  Meiryo, arial, helvetica, clean, 'ＭＳ Ｐゴシック', sans-serif !important;
}

#main ul.studyabroad_faq li a[target*="_blank"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- PORTAL4FS -----*/
#main ul.portal4fs li a[class*="doc"]:after {
  content: url("./images/icon_doc.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}

#main ul.portal4fs li a[class*="xls"]:after {
  content: url("./images/icon_xls.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}

#main ul.portal4fs li a[class*="pop"]:after {
  content: url("./images/icon_popup.gif");
  position: relative;
  bottom: -0.1em;
  margin-left: 0.5em;
}


/*----- TEACHER/INTERVIEW -----*/
#main .row header.content-header h1  {
  line-height: 1.6em !important;
}


/*----- STUDYABROAD/STUDYABROAD -----*/
#main #agreement h3  {
  font-size: 130% !important;
  line-height: 5px !important;
  border-left: 5px solid #48A186 !important;
  padding: .75em;
}

#main #agreement ul.list-grid li p strong a {
  text-decoration: none !important;
}

#main #agreement ul.list-grid li p strong a:before {
  content: ' ' !important;
  display: inline-block !important;
  height: 20px !important;
  width: 20px !important;
  margin-right: 5px !important;
  background-image: url(./images/link_arrow.png) !important;
  background-size: contain !important;
  vertical-align: -4px !important;
}

#main #agreement ul.list-grid li p strong a:hover {
  text-decoration: underline !important;
}
