---
layout: default
---
{% assign category_pages = site.pages | where: "category", page.category |sort: 'sort' %}
{% include category_career.html %}
<div class="row">
  <div class="medium-3 large-3 columns">
    <aside id="aside">
     <div class="{{page.category}}">
       <ul class="list-menu">
         <li class="campus"><a href="./" alt="学生生活">学生生活</a></li>
         <li class="campus"><a href="https://www.aoyama.ac.jp/life/expenses/" alt="学費について" target="_blank">学費について</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/health/dormitory/dormitory_sagamihara.html" alt="学生寮について" target="_blank">学生寮について</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/expenses/scholarship_prospective/" alt="奨学金制度（受験生向け）" target="_blank">奨学金制度（受験生向け）</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/expenses/scholarship/" alt="奨学金制度・経済援助（在学生向け）" target="_blank">奨学金制度・経済援助（在学生向け）</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/schooltime/" alt="授業・定期試験・学習" target="_blank">授業・定期試験・学習</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/volunteer/" alt="ボランティア活動" target="_blank">ボランティア活動</a></li>
         <li class="campus"><a href="https://www.aoyama.ac.jp/procedure/certificate/" alt="各種証明書・手続き" target="_blank">各種証明書・手続き</a></li>
      </ul>

     {% if category_pages %}
      {{category_pages.length}}
       <ul class="list-menu">
       {% for category_page in category_pages %}
         {% if category_page and category_page.sort  %}
         <li>
           <a href="{{ category_page.url | relative_url }}">
             {{ category_page.title | escape }}
           </a>
         </li>
         {% endif %}
       {% endfor %}
      </ul>
     {% endif %}
     </div>
    </aside>
  </div>
  <div class="medium-9 large-9 columns">
    <section id="content">
      <header class="content-header">
        <div class="row">
          <div class="columns">
            {% assign parent_paths = page.permalink  | replace_first: '/','' | split: '/' %}
            {% assign parent_paths_first = parent_paths | last %}
            {% if page.category != 'general' and page.category != parent_paths_first %}
            {% endif %}
            <h1>{{ page.title | escape }}</h1>
            {% if page.lead %}
            <p class="lead">{{ page.lead | escape }}</p>
            {% endif %}
          </div>
        </div>
      </header>
      <section class="content-section">
          <div class="row">
              <div class="columns">
                  {{ content }}
                  <p><img src="{{ '/assets/images/v1/2020/employment01.png' | relative_url }}" alt="2019年度の就職率 93.5％"></p>
                  <div id="collabo">
                      <h3 class="section">主な就職先</h3>
                      <p>全日本空輸／岩谷産業／エイチ・アイ・エス／ＪＦＥグループ／日本航空／楽天／ローソン／あいおいニッセイ同和損害保険／アクセンチュア／カトープレジャーグループ／第一生命保険／パレスホテル／三菱ＵＦＪ銀行／ＪＴＢグループ／関西テレビ放送／博報堂プロダクツ／KDDI／共同通信社／ブリヂストン／日本赤十字社</p>
                      <h3 class="section">業種別就職状況</h3>
                  </div>
                  <p><img src="{{ '/assets/images/v1/2020/employment02.png' | relative_url }}" alt="業種別就職状況"></p>
                  <p>※就職についての情報は、2020年5月1日現在の2019年度3月卒業生のデータです。グループで採用している企業はグループ名にて表記しています。</p>
                  <h2>海外大学院への進学</h2>
                  <p>本学部での東南アジア半期留学を経た後、自身の関心をさらに追究し、海外の大学院で学びたい学生に対して、留学経験をもつ教員による「海外大学院進学支援室」を設置しています。同室では、海外大学院留学の準備に必要な基礎知識の修得、英語力の向上、出願書類準備に関する支援を行っています。これまでに、4名の海外大学院合格者を出しました。
                  </p>
                  <div id="collabo">
                      <h3 class="section">これまでの合格実績</h3>
                      <p></p>
                      <ul>
                          <li>Imperial College London（イギリス） </li>
                          <li>Washington University in St. Louis（アメリカ）</li>
                          <li>Nordic Master in Social Work and Welfare Program（ノルウェー、スウェーデン、デンマーク）</li>
                          <li>University of California, Riverside （アメリカ）</li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
    </section>
  </div>
</div>