---
layout: default
---
{% assign category_pages = site.pages | where: "category", page.category |sort: 'sort' %}
{% include category_campus.html %}
<div class="row">
  <div class="medium-3 large-3 columns">
    <aside id="aside">
     <div class="{{page.category}}">
       <ul class="list-menu">
         <li class="campus"><a href="./" alt="学生生活">学生生活</a></li>
         <li class="campus"><a href="https://www.aoyama.ac.jp/life/expenses/" alt="学費について" target="_blank">学費について</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/health/dormitory/dormitory_sagamihara.html" alt="学生寮について" target="_blank">学生寮について</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/expenses/scholarship_prospective/" alt="奨学金制度（受験生向け）" target="_blank">奨学金制度（受験生向け）</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/expenses/scholarship/" alt="奨学金制度・経済援助（在学生向け）" target="_blank">奨学金制度・経済援助（在学生向け）</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/schooltime/" alt="授業・定期試験・学習" target="_blank">授業・定期試験・学習</a></li>
         <li class="campus"><a href="{{ '/campus/gscstunion/' | relative_url }}" alt="GSC学生連合">GSC学生連合</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/volunteer/" alt="ボランティア活動" target="_blank">ボランティア活動</a></li>
         <li class="campus"><a href="https://www.aoyama.ac.jp/procedure/certificate/" alt="各種証明書・手続き" target="_blank">各種証明書・手続き</a></li>
      </ul>

     {% if category_pages %}
      {{category_pages.length}}
       <ul class="list-menu">
       {% for category_page in category_pages %}
         {% if category_page and category_page.sort  %}
         <li>
           <a href="{{ category_page.url | relative_url }}">
             {{ category_page.title | escape }}
           </a>
         </li>
         {% endif %}
       {% endfor %}
      </ul>
     {% endif %}
     </div>
    </aside>
  </div>
  <div class="medium-9 large-9 columns">
    <section id="content">
      <header class="content-header">
        <div class="row">
          <div class="columns">
            {% assign parent_paths = page.permalink  | replace_first: '/','' | split: '/' %}
            {% assign parent_paths_first = parent_paths | last %}
            {% if page.category != 'general' and page.category != parent_paths_first %}
            {% endif %}
            <h1>{{ page.title | escape }}</h1>
            {% if page.lead %}
            <p class="lead">{{ page.lead | escape }}</p>
            {% endif %}
          </div>
        </div>
      </header>
      <section class="content-section">
          <div class="row">
              <div class="columns">
                  {{ content }}
                  <p><img src="/wwwdev4gsc2019/assets/images/v1/2021/gscstunion_logo.jpg" alt="GSC学生連合ロゴ" class="left" />GSC学生連合は、地球社会共生学部公認の学生団体です。地球規模の課題に向き合い、より良い地球社会の創出に貢献するという学部の理念に則り、学部生や留学生、そして地域や世界の人々のために様々なイベントを学生主体で企画・運営しています。ここでは、学生連合の活動を一部動画で紹介します。その他の活動の様子は<a href="https://gscstunion7.wixsite.com/gakuren-gsc-aoyama" target="_blank">こちら</a>をご覧ください。</p>
                  <div class="video-pannel">
                      <ul class="list-pannel2">
                          <li>
                              <div class="image">
                                  <div class="youtube"><iframe src="https://www.youtube.com/embed/XjHR9hlPFAk?rel=0"></iframe></div>
                              </div>
                              <h3>学生連合とは？</h3>
                              <p>新入生歓迎会用の動画です。学生連合の活動全体がわかります。<a href="https://youtu.be/XjHR9hlPFAk" target="_blank" class="pop">youtube.comで視聴する</a></p>
                          </li>
                          <li>
                              <div class="image">
                                  <div class="youtube"><iframe src="https://www.youtube.com/embed/G8lSFkv1FOw?rel=0"></iframe></div>
                              </div>
                              <h3>ジャパンツアー</h3>
                              <p>留学生と日本を観光する企画です。この動画は着物で鎌倉を訪れた様子を伝えています。<a href="https://youtu.be/G8lSFkv1FOw" target="_blank" class="pop">youtube.comで視聴する</a></p>
                          </li>
                          <li>
                              <div class="image">
                                  <div class="youtube"><iframe src="https://www.youtube.com/embed/hjHgHJFkH4s?rel=0"></iframe></div>
                              </div>
                              <h3>模擬国連</h3>
                              <p>大使になりきり国連会議をシミュレーションする"模擬国連"を開催しました。<a href="https://youtu.be/hjHgHJFkH4s" target="_blank" class="pop">youtube.comで視聴する</a></p>
                          </li>
                          <li>
                              <div class="image">
                                  <div class="youtube"><iframe src="https://www.youtube.com/embed/hlY1MJy8vko?rel=0"></iframe></div>
                              </div>
                              <h3>地球技大会エクササイズ</h3>
                              <p>筋トレやヨガが趣味の学生連合員が先生となり、エクササイズを行いました。<a href="https://youtu.be/hlY1MJy8vko" target="_blank" class="pop">youtube.comで視聴する</a></p>
                          </li>
                      </ul>
                  </div>
                  <h2>SNS</h2>
                  <p><a href="https://www.instagram.com/gscstunion/" target="_blank" class="pop">学生連合公式Instagram</a><br>
                     <a href="https://twitter.com/gscstunion?lang=ja" target="_blank" class="pop">学生連合公式Twitter</a><br>
                     <a href="https://www.facebook.com/gscstunion/" target="_blank" class="pop">学生連合公式Facebook</a>
                  </p>
                  <h2>学生連合公式ホームページ</h2>
                  <p><a href="https://gscstunion7.wixsite.com/gakuren-gsc-aoyama" target="_blank" class="pop">学生連合公式ホームページ</a></p>
              </div>
          </div>
      </section>
    </section>
  </div>
</div>