---
layout: default
---
{% assign category_pages = site.pages | where: "category", page.category |sort: 'sort' %}
{% include category_studyabroad_life.html %}
<div class="row">
  <div class="medium-3 large-3 columns">
    <aside id="aside">
     <div class="{{page.category}}">
       <ul class="list-menu">
         <li class="campus"><a href="./" alt="学生生活">学生生活</a></li>
         <li class="campus"><a href="https://www.aoyama.ac.jp/life/expenses/" alt="学費について" target="_blank">学費について</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/health/dormitory/dormitory_sagamihara.html" alt="学生寮について" target="_blank">学生寮について</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/expenses/scholarship_prospective/" alt="奨学金制度（受験生向け）" target="_blank">奨学金制度（受験生向け）</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/expenses/scholarship/" alt="奨学金制度・経済援助（在学生向け）" target="_blank">奨学金制度・経済援助（在学生向け）</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/schooltime/" alt="授業・定期試験・学習" target="_blank">授業・定期試験・学習</a></li>
         <li class="campus"><a href="http://www.aoyama.ac.jp/life/volunteer/" alt="ボランティア活動" target="_blank">ボランティア活動</a></li>
         <li class="campus"><a href="https://www.aoyama.ac.jp/procedure/certificate/" alt="各種証明書・手続き" target="_blank">各種証明書・手続き</a></li>
      </ul>

     {% if category_pages %}
      {{category_pages.length}}
       <ul class="list-menu">
       {% for category_page in category_pages %}
         {% if category_page and category_page.sort  %}
         <li>
           <a href="{{ category_page.url | relative_url }}">
             {{ category_page.title | escape }}
           </a>
         </li>
         {% endif %}
       {% endfor %}
      </ul>
     {% endif %}
     </div>
    </aside>
  </div>
  <div class="medium-9 large-9 columns">
    <section id="content">
      <header class="content-header">
        <div class="row">
          <div class="columns">
            {% assign parent_paths = page.permalink  | replace_first: '/','' | split: '/' %}
            {% assign parent_paths_first = parent_paths | last %}
            {% if page.category != 'general' and page.category != parent_paths_first %}
            {% endif %}
            <h1>{{ page.title | escape }}</h1>
            {% if page.lead %}
            <p class="lead">{{ page.lead | escape }}</p>
            {% endif %}
          </div>
        </div>
      </header>
      <section class="content-section">
        <div class="row">
          <div class="columns">
            {{ content }}
            
<ul class="monthly_report">

<li>
 <img src="{{ '/assets/images/v1/2019/bn_studyabroad_report_tajima.jpg' | relative_url }}" alt="">
  <div class="text">
  <div class="base">
    <p class="name"><span class="jp">田島理沙 ２年</span></p>
    <hr class="line">
    <p class="name"><strong>留学先 タイ・チュラーロンコーン大学</strong><br>留学期間 2019年8月 → 2019年12月</p>  
  </div>
      <div class="base2">
      <p class="report"><a href="{{ '/studyabroad/life/tajima/' | relative_url }}"><strong>留学直前インタビュー</strong></a></p>
      <p class="report"><a href="{{ '/studyabroad/life/tajima_report01/' | relative_url }}"><strong>マンスリーレポート vol.1</strong></a></p>
      <p class="report"><a href="{{ '/studyabroad/life/tajima_report02/' | relative_url }}"><strong>マンスリーレポート vol.2</strong></a></p>
      <p class="report"><a href="{{ '/studyabroad/life/tajima_report03/' | relative_url }}"><strong>マンスリーレポート vol.3</strong></a></p>
      <p class="report">マンスリーレポート vol.4</p>
       </div>
  </div>
</li>

<li>
  <img src="{{ '/assets/images/v1/2019/bn_studyabroad_report_ishizuka.jpg' | relative_url }}" alt="">
  <div class="text">
  <div class="base">
    <p class="name"><span class="jp">石塚彩世 ２年</span></p>
    <hr class="line">
    <p class="name"><strong>留学先 マレーシア・マラヤ大学</strong><br>留学期間 2019年9月 → 2020年1月</p>  
  </div>
    <div class="base2">
      <p class="report"><a href="{{ '/studyabroad/life/ishizuka/' | relative_url }}"><strong>留学直前インタビュー</strong></a></p>
      <p class="report"><a href="{{ '/studyabroad/life/ishizuka_report01/' | relative_url }}"><strong>マンスリーレポート vol.1</strong></a></p>
      <p class="report"><a href="{{ '/studyabroad/life/ishizuka_report02/' | relative_url }}"><strong>マンスリーレポート vol.2</strong></a></p>
      <p class="report">マンスリーレポート vol.3</p>
      <p class="report">マンスリーレポート vol.4</p>
       </div>
  </div>
</li>

          </div>
        </div>
      </section>
    </section>
  </div>
</div>